<div class="site-footer container-fluid">
	<p>This site is for illustrative purposes and should not be taken as medical advice. I am not a medical professional (see more <a href={{ "/faqs#WhoDis" | prepend:site.baseurl }}>here</a>). This site is an ongoing project. If you are interested in the data, see the {% include icon-github.html username=site.github_username %} /
<a href="https://github.com/stonesunturned/no-bricks">no-bricks</a> github page and if you would like to contribute, please contact me through there.</p>

</div>

